Repository EvangeliaSp/elephas, pull requests merged in 2019-03, with the labels that each got.

#44 11 register
  frontend/src/index.js
  frontend/src/user/Register.js
  src/main/java/se/uu/elephas/model/Product.java
Labels: front end

#53 43 connect login with loginform
  frontend/package.json
  frontend/src/components/Header.css
  frontend/src/components/Header.js
  frontend/src/store.js
  frontend/src/user/login/Login.js
Labels: front end

#54 45 cart content
  frontend/src/components/Header.js
  frontend/src/index.js
  frontend/src/order/ShowCart.css
  frontend/src/order/ShowCart.js
  frontend/src/user/UserList.js
  src/main/java/se/uu/elephas/controllers/OrderController.java
  src/main/java/se/uu/elephas/model/BasketItem.java
  src/main/java/se/uu/elephas/services/OrderItemService.java
  src/main/java/se/uu/elephas/services/OrderItemServiceImpl.java
Labels: front end

#56 17 logout
  frontend/src/components/Header.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/notAvailable.jpg
  frontend/src/order/ShowCart.js
  frontend/src/product/ProductDetail.js
  frontend/src/store.js
  frontend/src/user/Register.js
  frontend/src/user/login-logout/Login.css
  frontend/src/user/login-logout/Login.js
  frontend/src/user/login-logout/Logout.js
  frontend/src/user/profile/Profile.css
  frontend/src/user/profile/Profile.js
Labels: front end

#60 Fixed proceed redirection
  frontend/src/order/ShowCart.js
  src/main/java/se/uu/elephas/controllers/OrderController.java
Labels: front end

#62 61 increase total of order basket
  frontend/src/components/Header.js
  frontend/src/order/ShowCart.js
  frontend/src/product/AddToBasket.js
  frontend/src/user/Register.js
  frontend/src/user/profile/Profile.js
  src/main/java/se/uu/elephas/controllers/OrderController.java
  src/main/java/se/uu/elephas/services/OrderService.java
  src/main/java/se/uu/elephas/services/OrderServiceImpl.java
Labels: front end

#66 Admin log
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Header.js
  frontend/src/user/Register.js
  frontend/src/user/UserList.js
Labels: front end

#65 63 update user profile
  frontend/src/components/Header.js
  frontend/src/order/ShowCart.js
  frontend/src/user/Register.js
  frontend/src/user/UserList.js
  frontend/src/user/profile/Profile.js
  src/main/java/se/uu/elephas/services/UserServiceImpl.java
Labels: front end

#69 68 refresh page
  frontend/src/order/ShowCart.js
  frontend/src/user/profile/Profile.js
Labels: front end

#72 Header fixed & footer at bottom
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/user/profile/Profile.css
Labels: front end

#73 63 update user profile
  frontend/src/user/profile/Profile.js
  src/main/java/se/uu/elephas/controllers/UserController.java
  src/main/java/se/uu/elephas/services/UserService.java
  src/main/java/se/uu/elephas/services/UserServiceImpl.java
Labels: back end, front end

#77 made cart button background green when active
  frontend/src/components/Header.js
Labels: front end

#75 74 wrong password
  frontend/src/user/Register.js
  frontend/src/user/login-logout/Login.js
Labels: front end

#79 78 cart badge
  frontend/src/components/Header.js
  src/main/java/se/uu/elephas/controllers/OrderController.java
Labels: back end, front end

#82 Beautify user icon dropdown menu
  frontend/src/components/Header.js
Labels: front end

#80 14 admin user
  frontend/src/Translations.js
  frontend/src/components/Header.js
  frontend/src/order/ShowCart.js
  frontend/src/product/AddToBasket.js
  frontend/src/user/profile/Profile.js
  src/main/java/se/uu/elephas/controllers/ProductController.java
  src/main/java/se/uu/elephas/controllers/UserController.java
  src/main/java/se/uu/elephas/model/Product.java
  src/main/java/se/uu/elephas/services/ProductService.java
  src/main/java/se/uu/elephas/services/ProductServiceimpl.java
Labels: back end, front end

#85 84 show final price in products
  frontend/src/order/ShowCart.js
  frontend/src/product/HomePageGrid.js
  frontend/src/product/Product.css
  frontend/src/product/ProductDetail.js
  frontend/src/product/ProductGrid.js
  src/main/java/se/uu/elephas/controllers/OrderController.java
  src/main/java/se/uu/elephas/model/BasketItem.java
  src/main/java/se/uu/elephas/services/OrderItemServiceImpl.java
  src/main/java/se/uu/elephas/services/OrderService.java
  src/main/java/se/uu/elephas/services/OrderServiceImpl.java
Labels: back end, bug, front end

#87 Fixed error when addToBasket product it was creating a new order item…
  src/main/java/se/uu/elephas/services/OrderServiceImpl.java
Labels: back end

#88 Frontend revise
  frontend/src/components/About.js
  frontend/src/components/Header.js
  frontend/src/order/ShowCart.js
  frontend/src/product/HomePageGrid.js
  frontend/src/product/ProductDetail.js
  frontend/src/product/ProductGrid.js
  frontend/src/user/UserList.js
Labels: front end

#92 89 no basket for admin
  frontend/src/adminIcon2.jpeg
  frontend/src/adminIcon3.png
  frontend/src/components/Header.js
  frontend/src/index.css
  frontend/src/user/UserList.js
  frontend/src/user/profile/Profile.js
  src/main/java/se/uu/elephas/controllers/OrderController.java
  src/main/java/se/uu/elephas/model/Status.java
  src/main/java/se/uu/elephas/repository/OrderRepository.java
  src/main/java/se/uu/elephas/services/OrderItemServiceImpl.java
  src/main/java/se/uu/elephas/services/OrderService.java
  src/main/java/se/uu/elephas/services/OrderServiceImpl.java
Labels: back end, front end

#94 93 chart
  frontend/src/user/TypeChart.js
  frontend/src/user/UserList.js
  frontend/src/user/login-logout/Login.js
  frontend/src/user/profile/Profile.js
  src/main/java/se/uu/elephas/controllers/OrderController.java
  src/main/java/se/uu/elephas/services/OrderItemService.java
  src/main/java/se/uu/elephas/services/OrderItemServiceImpl.java
  src/main/java/se/uu/elephas/services/OrderServiceImpl.java
Labels: back end, front end

#95 Terms and conditions
  frontend/src/user/Register.js
Labels: front end

#96 93 chart
  frontend/src/Translations.js
  frontend/src/components/Footer.js
  frontend/src/components/Header.js
  frontend/src/order/ShowCart.js
  frontend/src/product/AddToBasket.js
  frontend/src/product/ProductDetail.js
  frontend/src/user/TypeChart.js
  frontend/src/user/profile/Profile.js
  src/main/java/se/uu/elephas/controllers/OrderController.java
  src/main/java/se/uu/elephas/repository/OrderRepository.java
  src/main/java/se/uu/elephas/services/OrderService.java
  src/main/java/se/uu/elephas/services/OrderServiceImpl.java
Labels: back end, enhancement, front end

#98 Disable minus button when quantity=1
  frontend/src/order/ShowCart.js
Labels: enhancement, front end

#100 83 reset password 2
  frontend/src/index.js
  frontend/src/user/Register.js
  frontend/src/user/login-logout/Login.js
  frontend/src/user/login-logout/ResetPassword.js
Labels: front end

#101 99 custom product in db
  src/main/java/se/uu/elephas/model/Product.java
  src/main/java/se/uu/elephas/model/User.java
  src/main/java/se/uu/elephas/repository/ProductRepository.java
  src/main/java/se/uu/elephas/services/ProductServiceimpl.java
Labels: back end

#103 102 order of a custom product
  frontend/src/Translations.js
  frontend/src/components/Header.js
  frontend/src/order/ShowCart.js
  frontend/src/product/HomePageGrid.js
  frontend/src/product/ProductGrid.js
  frontend/src/user/profile/Profile.js
  src/main/java/se/uu/elephas/controllers/CustomProductController.java
  src/main/java/se/uu/elephas/model/CustomProduct.java
  src/main/java/se/uu/elephas/model/CustomProductStatus.java
  src/main/java/se/uu/elephas/model/UpdateCustomProduct.java
  src/main/java/se/uu/elephas/repository/CustomProductRepository.java
  src/main/java/se/uu/elephas/services/CustomProductService.java
  src/main/java/se/uu/elephas/services/CustomProductServiceImpl.java
Labels: back end, front end

#105 104 remove useless fields from product
  src/main/java/se/uu/elephas/model/Product.java
  src/main/java/se/uu/elephas/repository/ProductRepository.java
  src/main/java/se/uu/elephas/services/ProductService.java
  src/main/java/se/uu/elephas/services/ProductServiceimpl.java
Labels: back end

#109 108 upload image
  .gitignore
  frontend/src/product/CustomProduct.js
  frontend/src/user/profile/Profile.js
  src/main/java/se/uu/elephas/ElephasAPI.java
  src/main/java/se/uu/elephas/controllers/CustomProductController.java
  src/main/java/se/uu/elephas/controllers/StorageException.java
  src/main/java/se/uu/elephas/controllers/StorageFileNotFoundException.java
  src/main/java/se/uu/elephas/model/StorageProperties.java
  src/main/java/se/uu/elephas/model/User.java
  src/main/java/se/uu/elephas/repository/MaterialRepository.java
  src/main/java/se/uu/elephas/repository/OrderItemRepository.java
  src/main/java/se/uu/elephas/repository/UserRepository.java
  src/main/java/se/uu/elephas/services/OrderItemServiceImpl.java
  src/main/java/se/uu/elephas/services/StorageService.java
  src/main/java/se/uu/elephas/services/StorageServiceImpl.java
  src/main/java/se/uu/elephas/services/UserServiceImpl.java
  src/main/resources/application.properties
Labels: back end, front end
